.sidebar-heading img{
  max-width: 120px;
}



.sidebar-display {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  justify-content: space-between;
  border-right: 0.05em solid rgb(223, 217, 217);
}

.sidebar-media-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100% !important;
  padding: 25px;
}

.sidebar-media-icons span{
  opacity: 0.4 !important;
}

.sidebar-media-icons span:hover{
  color: #0078FF;
  opacity: 1 !important;
}

/* .slider-bottom-stamp-main{
  margin: 0 auto !important;
  text-align: center !important;
} */

.slider-bottom-stamp{
  border: 1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 7px;
  padding: 7px 15px;
}

.slider-bottom-stamp-text{
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.slider-bottom-stamp-text span:first-child{
  font-size: 9px;
  font-weight: 600;
}

.slider-bottom-stamp-text span:last-child{
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
}